
body {
background-color: skyblue;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;

}

h1,h2 {
    color: gray;
    margin-bottom: 20px;
}

p {
    color: azure;
    font-family: fantasy;
    font-size: 13px;
}

ul {
    color: lightcyan;
    font-family: :monospace;
    
}